body {
    background: linear-gradient(180deg, #035E65 13.67%, rgba(255, 242, 231, 0) 100%);
    opacity: 0.9;
    font-family:'Pinyon Script', cursive;;
  }
  #ga {
    font-style: normal;
  }
  ul {
    line-height: 40px;
    color:azure;
    text-align:center;
    background-image: url("solo-blue-back.jpg");
    background-size: 1790px 400px;
    border-radius: 10px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;

  }
  .x1 {
    font-size: 31px;
  }
  .x2 {
    font-size: 30px;
  }
  .x3 {
    font-size: 32px;
  }
  .x4 {
    font-size: 35px;
  }
  #am {
    text-decoration: underline;
  }
  #hab {
    text-decoration: underline;
  }
  #blog {
    text-decoration: underline;
  }
  #Noma {
    font-size: 25px;
    text-decoration: underline;
  }
  #x10 {
    font-size: 18px;
  }
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    border: 0.5px solid white;
    border-radius: 4px;
    padding: 15px;
    background-image:url("solo.gif") ;
    color: azure;
    
  }
  ol {
    display: flex;
    gap: 80px;
    justify-content: space-evenly;
    }
  img {
    padding: 20px;
  }
  h1 {
    font-size: 70px;
    text-align: center;
    font-weight: 900;
    border:0.5px solid white; ;
    padding: 200px 100px;
    background-image: url("solo-leveling.jpeg");
    background-size:cover;
    border-radius: 1000px;
    margin: 50px;
  }
  p em {
    font-weight: bold;
  }
  .but {
    display: flex;
    background-color: rgb(83, 212, 124);
    color:azure;
    border-radius: 100px;
    padding: 6px 10px;
    text-decoration: none;
    line-height: 38px;
    font-size: 24px;
    
  }
  h2 {
    font-size: 40px;
  }
  .cabecalho {
    text-align: center;
    font-size: 35px;
  }